# Confluent Cloud (Local Development)
KAFKA_BROKER=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081
CLIENT_TYPE=local

# Consumer Group
CONSUMER_GROUP_ID=demo-consumer-group

# Topics
LOCAL_TOPIC=demo-topic
